@import './variables';

#exercise {
    display: none;
}

#exerciseEnd {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: $font-size-xlarge;
    cursor: pointer;
}

#exerciseTitle {
    font-size: medium;
}

#exerciseAction {
    text-transform: uppercase;
    word-spacing: 1.5px;
}

#exerciseCountdown {
    transition: all 0.5s ease;
}