@import './variables';

#exercise {
    display: none;
}

#exerciseEnd {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: $font-size-xlarge;
    cursor: pointer;
}

#exerciseTitle {
    font-size: medium;
}

#exerciseAction, 
#exerciseCountdown {
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

#exerciseAction {
    text-transform: uppercase;
    letter-spacing: 11.5px;
    font-size: $font-size-large;
    font-family: $font-family-heading;
}

#exerciseCountdown {
    transition: all 0.5s ease;
    font-size: $font-size-xxlarge;
    font-weight: 500;
}